
.video-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}




.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem;
    border-radius: 1rem;
   border: 1px solid gray;
    backdrop-filter: blur(0.1rem);
}

/* Labels */
.login-form-container label {
    color: #333;
    font-size: 14px;
    text-align: left;
    font-weight: bold;
}

.login-form-container header p{
    color: #ffffff;
}
/* Input Fields */
.login-form-container input {
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(247, 247, 247, 0.3); 
    color: #ffffff;
    outline: none;
    
}

.login-form-container input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

/* Sign In Button */
.login-form-container button {
    padding: 12px;
    background-color: #080f17;
    color: white;
    border: none;
    width: 50%;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.login-form-container button:hover {
    background-color: #0056b3;
}

.custom-toast-sucess{
    background-color: #d4edda !important;
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
}
